@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:slnt,wght@-10..0,100..900&display=swap");

.picture__box {
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: transform, display;
  transition-timing-function: ease-in-out;

  &:hover .picture__img {
    transform: scale(1.1);
  }

  &:hover .picture__descr {
    transform: translateY(200%);
  }

  &:hover .picture__descr__hover {
    transform: translateX(0%) translateY(-50%);
  }
}

.picture__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s transform ease-in-out;
}

.picture__textArea {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white-black);
  padding: 2rem 0 2rem 0;
  width: 75%;
  z-index: 1;

  &::after {
    content: "";
    width: 0.2rem;
    height: calc(100% - 4rem);
    background-color: var(--accent-red-gold);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.picture__descr {
  padding-left: 2rem;
  transform: translateY(0%);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.picture__name {
  font-family: "Cormorant SC", serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.938rem;
  color: var(--black-lgray);
}

.picture__year {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.452rem;
  color: var(--accent-red-gold);
}

.picture__descr__hover {
  transform: translateX(-100%) translateY(-50%);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  position: absolute;
  top: 50%;
}

@media (width < 1200px) {
  .picture__textArea {
    width: 80%;
    padding: 1.2rem 0 1.2rem 0;

    &::after {
      height: 100%;
      width: 2.4rem;
      top: 0;
      right: 0;
      background-image: url(../../../icons/Vector-Text.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(0) translateX(100%);
    }
  }

  .picture__descr {
    padding-left: 1.2rem;
  }
}

@media (width < 710px) {
  .picture__textArea {
    padding: 0.8rem 0 0.8rem 0;
  }

  .picture__name {
    font-size: 1.2rem;
    line-height: 1.453rem;
  }

  .picture__year {
    font-size: 0.8rem;
    line-height: 0.968rem;
  }
}
