.paginate_block {
  text-align: center;

  li {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.24rem;
    color: var(--dgray-lgray);
    border: 0;
    background-color: var(--white-black);
    transition-duration: 0.3s;
    transition-property: border-bottom, background-color, font-weight;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    border-radius: 0;
    display: inline-block;
    padding: 0;

    a {
      padding: 0.1rem 0.8rem;
    }

    &:hover {
      border-bottom: var(--page-btnPageHover-border);
    }
  }
  :global {
    .selected {
      background-color: var(--selected-button);
      font-weight: 500;
      font-family: "Inter", sans-serif;
      font-size: 1.6rem;
      line-height: 2.24rem;
      color: var(--dgray-lgray);
      border: 0;
      border-radius: 0.4rem;
      cursor: pointer;

      &:hover {
        border-bottom: none;
      }
    }

    .previous {
      border: 0;
      background-color: var(--white-black);
      border-radius: 0.4rem;
      margin-right: 2rem;
      cursor: pointer;
      transition: 0.3s background-color ease-in-out;

      &:hover {
        background-color: var(--selected-button);
        border-bottom: none;
      }

      a {
        padding: 0.41rem 0.62rem;
      }
    }

    .next {
      border: 0;
      background-color: var(--white-black);
      border-radius: 0.4rem;
      margin-left: 2rem;
      cursor: pointer;
      transition: 0.3s background-color ease-in-out;

      &:hover {
        background-color: var(--selected-button);
        border-bottom: none;
      }

      a {
        padding: 0.41rem 0.62rem;
      }
    }

    .previous path {
      fill: var(--dgray-lgray);
      transition: 0.3s fill ease-in-out;
    }

    .previous:hover path {
      fill: var(--black-white);
    }

    .next path {
      fill: var(--dgray-lgray);
      transition: 0.3s fill ease-in-out;
    }

    .next:hover path {
      fill: var(--black-white);
    }

    .break {
      &:hover {
        border-bottom: none;
      }
    }
  }
}
