@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:slnt,wght@-10..0,100..900&display=swap");

.picture__container {
  list-style: none;
  display: grid;
  grid-gap: 3.2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 26rem;
  margin: 2rem 0 4rem 0;
}
.picture_container_titleSearch {
  height: 600px;
}

.section__pictureList {
  max-width: calc(100vw - 20rem);
  margin: 0 auto;
}

.text__error {
  color: red;
  font-weight: bold;
}

.text__loading {
  font-weight: bold;
  color: var(--black-lgray);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.not__found {
  margin-top: 40px;

  .not__found__p {
    margin-top: 12px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 19.6px;
    color: #9c9c9c;
  }
}

.not__found__h1 {
  color: var(--dgray-lgray);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 22.4px;

  span {
    font-weight: 500;
  }
}

.pages_container {
  text-align: center;
}

@media (width < 1200px) {
  .section__pictureList {
    max-width: calc(100vw - 4rem);
  }

  .picture__container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 22rem;
    grid-gap: 2.4rem;
  }
}

@media (width < 710px) {
  .picture__container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 25rem;
    grid-gap: 2rem;
    margin: 2rem 0 3.2rem 0;
  }
}
@media (width < 510px) {
  .picture__container {
    grid-auto-rows: 18.5rem;
  }
}
