@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:slnt,wght@-10..0,100..900&display=swap");

.section__filter {
  margin-top: 4.4rem;
}

.filter__container {
  max-width: calc(100vw - 20rem);
  text-align: right;
  margin: 0 auto;
}
.label__form {
  position: relative;
  margin-right: 2rem;
  display: inline-block;

  .icon__search {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);

    path {
      fill: var(--dgray-lgray);
    }
  }

  .button__closed {
    border: 0;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    background-color: var(--white-secBlack);
    padding: 0 0.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;

    &:hover {
      background-color: var(--filter-Hover);
    }

    path {
      fill: var(--dgray-lgray);
      transition: 0.3s fill ease-in-out;
    }

    &:hover path {
      fill: var(--black-white);
    }
  }
}

.search__title {
  padding: 0.8rem 2.6rem 0.8rem 4.8rem;
  background-color: var(--white-secBlack);
  border-radius: 0.4rem;
  border: var(--filter-input-textBorder);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--dgray-lgray);
  width: 36.6rem;
  display: inline-block;

  &:focus {
    outline: var(--filter-input-outline-focus);
  }

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.96rem;
    color: var(--secGray);
  }
}

.button__filter {
  padding: 1rem;
  border: 0;
  border-radius: 0.4rem;
  background-color: var(--secWhite-secBlack);
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;

  path {
    transition: 0.3s fill ease-in-out;
    fill: var(--dgray-lgray);
  }

  &:hover {
    background-color: var(--filter-Hover);
  }

  &:hover path {
    fill: var(--black-white);
  }
}

.filter__menu {
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 0;
  padding: 6.2rem 10.2rem 19.3rem 4rem;
  width: 33.34%;
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.3s;
  background-color: var(--white-black);
  height: 100%;

  &__active {
    transform: translateX(0);
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-secBlack);
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
  }
}

.filter__closed {
  border: 0;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.3s background-color ease-in-out;
  margin-left: auto;
  display: block;
  background-color: var(--white-black);

  &:hover {
    background-color: var(--filter-Hover);
  }

  path {
    fill: var(--dgray-lgray);
    transition: 0.3s fill ease-in-out;
  }

  &:hover path {
    fill: var(--black-white);
  }
}

.filter__block {
  margin-top: 11.6rem;
}

.filter__form:not(:last-child) {
  margin-bottom: 2.2rem;
}

.filter__summuryText {
  font-family: "Cormorant SC", serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.938rem;
  color: var(--black-white);
  position: relative;
  list-style: none;
  transition: 0.3s background-color ease-in-out;
  padding: 1rem;

  &:hover {
    background-color: var(--filter-Hover);
  }

  &::after {
    content: "";
    width: 1.7rem;
    height: 0.1rem;
    background-color: var(--dgray-lgray);
    display: block;
    border-radius: 1rem;
    top: 19px;
    right: 10px;
    position: absolute;
  }

  &::before {
    content: "";
    width: 0.1rem;
    height: 1.7rem;
    background-color: var(--dgray-lgray);
    display: block;
    border-radius: 1rem;
    position: absolute;
    right: 18px;
    top: 11px;
    transition: 0.3s transform ease-in-out;
  }
}

.filter__form[open] .filter__summuryText::before {
  transform: rotate(90deg);
}

.filter__block__label {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 1.4rem;

  .filter__svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    svg {
      transition: 0.3s transform ease-in-out;
    }

    path {
      fill: var(--secGray);
    }
  }

  .filter__svg__active {
    svg {
      transform: rotate(180deg);
      transition: 0.3s transform ease-in-out;
    }
  }
}

.filter__select {
  display: inline-block;
  padding: 0.8rem 5rem 0.8rem 1.6rem;
  background-color: var(--white-secBlack);
  border: var(--filter-input-textBorder);
  color: var(--dgray-lgray);
  border-radius: 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.96rem;
  width: 100%;

  &:focus {
    outline: var(--filter-input-outline-focus);
  }

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.96rem;
    color: var(--secGray);
  }
}

.filter__select__block {
  max-height: 20.8rem;
  border: 0;
  list-style: none;
  overflow-y: auto;
  background-color: var(--white-secBlack);
  margin-top: 1.2rem;

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-secBlack);
  }

  &::-webkit-scrollbar {
    width: 0.4rem;
  }
}

.filter__select__text {
  padding: 0.8rem 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.96rem;
  color: var(--dgray-lgray);
  transition: 0.3s background-color ease-in-out;

  &:not(:has(p)) {
    cursor: pointer;
  }

  p {
    color: #9c9c9c;
  }

  &:not(:has(p)):hover {
    background-color: var(--filter-Hover);
  }
}

.filter__block__flex {
  margin-top: 1.4rem;
  display: flex;
  column-gap: 1.05rem;
  align-items: center;
}

.filter__years {
  width: 6.6rem;
  padding: 0.8rem 0.4rem;
  border-radius: 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.96rem;
  background-color: var(--white-secBlack);
  border: var(--filter-input-textBorder);
  color: var(--dgray-lgray);
  text-align: center;

  &:focus {
    outline: var(--filter-input-outline-focus);
  }

  &::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.96rem;
    color: var(--secGray);
    text-align: center;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.filter__from {
  height: 0.14rem;
  width: 1.6rem;
  background-color: var(--secGray);
  border-radius: 1rem;
}

.filter__button__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20rem;
}

.filter__button {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.452rem;
  border: 0;
  background-color: var(--white-black);
  border-bottom: var(--filter-button-border-bottom);
  cursor: pointer;
  color: var(--dgray-lgray);
  transition-duration: 0.3s;
  transition-property: color, border-bottom;
  transition-timing-function: ease-in-out;

  &:hover {
    color: var(--black-white);
    border-bottom: var(--filter-buttonHover-border-bottom-color);
  }
}

.grey__filter__button {
  color: var(--secGray);
  border-bottom: var(--filter-buttonClear-border-bottom);
}

@media (width < 1200px) {
  .filter__menu {
    width: 50%;
    padding: 2.6rem 2rem 35.7rem 3.2rem;
  }
  .filter__container {
    max-width: calc(100vw - 4rem);
  }

  .search__title {
    width: 29.6rem;
  }

  .filter__block {
    margin-top: 12.9rem;
  }
}

@media (width < 710px) {
  .filter__menu {
    width: 87%;
    padding: 2rem 2rem 8.9rem 2rem;
  }
  .search__title {
    width: 22.4rem;
    font-size: 1.2rem;
    line-height: 1.68rem;

    &::placeholder {
      font-size: 1.2rem;
      line-height: 1.68rem;
    }
  }

  .section__filter {
    margin-top: 2.7rem;
  }

  .filter__block {
    margin-top: 8.4rem;
  }

  .filter__summuryText {
    font-size: 1.2rem;
    line-height: 1.453rem;
  }
  .filter__select {
    font-size: 1.2rem;
    line-height: 1.68rem;

    &::placeholder {
      font-size: 1.2rem;
      line-height: 1.68rem;
    }
  }
  .filter__select__text {
    font-size: 1.2rem;
    line-height: 1.453rem;
  }
  .filter__years {
    font-size: 1.2rem;
    line-height: 1.68rem;
    max-width: 6.6rem;

    &::placeholder {
      font-size: 1.2rem;
      line-height: 1.68rem;
    }
  }

  .filter__button {
    font-size: 1.2rem;
    line-height: 1.452rem;
  }
}
