.header {
  padding: 3rem 0;
  max-width: calc(100vw - 20rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_logo path {
    fill: var(--dgray-lgray);
  }
}

.button__theme {
  background-color: var(--secWhite-secBlack);
  border: 0;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: background-color, fill;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: var(--black-white);
  }

  &:hover path {
    fill: var(--white-black);
  }

  path {
    fill: var(--black-white);
    transition: 0.3s fill ease-in-out;
  }
}

@media (width < 1200px) {
  .header {
    max-width: calc(100vw - 4rem);
    padding: 2.4rem 0;

    .header_logo svg {
      width: 7.3rem;
      height: 1.6rem;
    }
  }
}

@media (width < 710px) {
  .header {
    padding: 1.2rem 0 1.2rem 0;
  }
}
