* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--main-background-color);

  --header-bakground-color: #FFFFFF;
  --header-buttonTheme-background-color:#FCFCFC;
  --header-buttonThemeHover-background-color: #FFFFFF;
  --header-logoSvg-fill: #575757;
  --header-buttonSvg-background-color:#121212;
  --header-buttonSvgHover-background-color: black;

  --main-background-color: #FFFFFF;

  --main-notAFound-color: #575757;

  --picture-textArea-background-color: #FFFFFF;

  --picture-textName-color: #121212;

  --picture-textYearAndBefore-color: #9B4B4B;

  --page-btnSvg-fill: #575757;
  --page-btnSvgHover-fill: #121212;
  --page-btnSvgHover-background-color: #1212120D;
  
  --page-btnPage-color: #575757;
  --page-btnPage-background-color: #FFFFFF;
  --page-btnPageHover-border: 1px solid #9C9C9C;
  --page-btnPageActive-background-color: #1212120D;


  --filter-titleClosed-background-color: #FFFFFF;
  --filter-iconSvg-color:#575757;
  --filter-input-background-color: #FFFFFF;
  --filter-input-outline-focus: 1px solid #575757;
  --filter-input-placeholder-color: #9C9C9C;
  --filter-input-text-color: #575757;
  --filter-input-textBorder: 1px solid #DEDEDE;
  --filter-button-background-color: #FCFCFC;
  --filter-buttonHover-background-color: #1212120D;
  --filter-buttonSvg-fill: #575757;
  --filter-buttonSvgHover-fill: #121212;
  --filter-menu-background-color: #FFFFFF;
  --filter-closed-background-color: #FFFFFF;
  --filter-closedHover-background-color: #1212120D;
  --filter-closedSvg-fill: #575757;
  --filter-closedSvgHover-fill: #121212;
  --filter-summuryText-color: #121212;
  --filter-summuryPlus-background-color: #575757;
  --filter-summeryTextHover-background-color: #1212120D;
  --filter-button-color: #575757;
  --filter-button-background-color: #FFFFFF;
  --filter-button-border-bottom: 2px solid #575757; 
  --filter-buttonHover-color: #121212;
  --filter-buttonHover-border-bottom-color: 2px solid #121212; 
  --filter-buttonClear-color: #9C9C9C;
  --filter-buttonClear-border-bottom: 2px solid #9C9C9C; 
  --filter-selectBlock-background-color: #FFFFFF;
  --filter-selectText-color: #575757;
  --filter-selectTextHover-background-color: #1212120D;
  --filter-scrollBar-thumb-color: #9C9C9C;
  --filter-scrollBar-track-color: #FFFFFF;
  --filter-selectSvg-fill: #9C9C9C;
  --filter-from-background-color: #9C9C9C;

  --textLoading-color: #121212; 
}

body.dark {
  overflow-x: hidden;
  background-color: var(--main-background-color);

  --header-bakground-color: #121212;
  --header-buttonTheme-background-color:#1A1818;
  --header-buttonThemeHover-background-color: black;
  --header-logoSvg-fill: #DEDEDE;
  --header-buttonSvg-background-color:#FFFFFF;
  --header-buttonSvgHover-background-color: #FFFFFF;

  --main-background-color: #121212;

  --main-notAFound-color: #DEDEDE;

  --picture-textArea-background-color: #121212;

  --picture-textName-color: #DEDEDE;

  --picture-textYearAndBefore-color: #AB8956;

  --page-btnSvg-fill: #DEDEDE;
  --page-btnSvgHover-fill: #FFFFFF;
  --page-btnSvgHover-background-color: #1A1818;

  --page-btnPage-color: #DEDEDE;
  --page-btnPage-background-color: #121212;
  --page-btnPageHover-border: 1px solid #DEDEDE;
  --page-btnPageActive-background-color: #1A1818;

  --filter-titleClosed-background-color: #1A1818;
  --filter-iconSvg-color:#DEDEDE;
  --filter-input-background-color: #1A1818;
  --filter-input-outline-focus: 1px solid #DEDEDE;
  --filter-input-placeholder-color: #575757;
  --filter-input-text-color: #DEDEDE;
  --filter-input-textBorder: none;
  --filter-button-background-color: #1A1818;
  --filter-buttonHover-background-color: #CDCDCD0D;
  --filter-buttonSvg-fill: #DEDEDE;
  --filter-buttonSvgHover-fill: #FFFFFF;
  --filter-menu-background-color: #121212;
  --filter-closed-background-color: #121212;
  --filter-closedHover-background-color: #CDCDCD0D;
  --filter-closedSvg-fill: #DEDEDE;
  --filter-closedSvgHover-fill: #FFFFFF;
  --filter-summuryText-color: #FFFFFF;
  --filter-summuryPlus-background-color: #DEDEDE;
  --filter-summeryTextHover-background-color: #CDCDCD0D;
  --filter-button-color: #DEDEDE;
  --filter-button-background-color: #121212;
  --filter-button-border-bottom: 2px solid #DEDEDE; 
  --filter-buttonHover-color: #FFFFFF;
  --filter-buttonHover-border-bottom-color: 2px solid #FFFFFF; 
  --filter-buttonClear-color: #575757;
  --filter-buttonClear-border-bottom: 2px solid #575757; 
  --filter-selectBlock-background-color: #1A1818;
  --filter-selectText-color: #DEDEDE;
  --filter-selectTextHover-background-color: #CDCDCD0D;
  --filter-scrollBar-thumb-color: #DEDEDE;
  --filter-scrollBar-track-color: #1A1818;
  --filter-selectSvg-fill: #575757;
  --filter-from-background-color: #575757;

  --textLoading-color: #DEDEDE;
}


/* @media (max-width: 320px) {
  main {
    height: 1531px;
  }
} */